@import "~materialize-css";

.regButtonMargin {
    margin-right: 40px;
}

input.yellow-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label{
    color: #ffffff!important;
}

input.yellow-input:focus {
    color: #ffeb3b!important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}

.CalendarBlock {
    max-width: 300px;
    min-width: 300px;
    margin: 5px 10px;
}

.BlockForCalendars {
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
}

.DaysBlockGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px; 
}




